<div class="jumbotron" style="background-color: rgba(108, 166, 214, 0.288)">
  <h1 style="color: rgb(21, 12, 107);">
    Welcome to Connect US
  </h1>

  <br />

  <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="navbarDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <h3 style="color: rgb(199, 104, 15);">Pick your Flag</h3>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" routerLink="/login"> India </a>
        <a class="dropdown-item" href="#"> Canada </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#"> USA </a>
      </div>
    </li>
  </ul>
</div>
